img.footer-img(src='/../design-files/image-assets/grass_image.png')

footer.footer(role="footer")
  p
    small &copy; 2015 EPA
    = ' | '
    a(href='/terms-and-privacy/') Privacy
    = ' | '
    a(href='/terms-and-privacy/') Terms
