header.site-header(ng-controller='NavbarCtrl', role='banner')
  div.navbar-wrapper
    nav.navbar.navbar-static-top(role='navigation')
      div.col-sm-6
        a.navbar-brand(href='/')
          img.sunsafe(aria-hidden='true', src='/../design-files/image-assets/sun_safe_logo.png')

      div.col-sm-6
        ul.nav.primary.epa
          li(ng-repeat='item in menu', ng-class='{active: isActive(item.link)}', style='display: inline-block')
            a(ng-href='{{item.link}}') {{item.title}}
