div(ng-include='"components/navbar/navbar.html"')

div.jumbotron
  div.rows
    .col-sm-8.col-sm-offset-2
      h1.search__title EPA Prototype

.container
  .row
    .col-sm-8.col-sm-offset-2(ng-controller='EpaCtrl')
      h2 UV Index 
      form.search-form.input-group.input-group-lg(no-validate)
        div.form-control.uv(aria-live="assertive")
        
          span
            label.address(for='address') Address
            input#address(placeholder='Address', ng-model='city')
          
          div(ng-include='"app/main/states.html"')
            
          span.or
            p 
            p OR
          
          span.zipcode
            label.zipcode(for='zipcode') Zip Code
            input#zipcode(placeholder='53590', ng-model='zipcode')
            
          span.input-group-btn.uv
            button.search__button.btn.btn-default(type='submit',
            ng-click="getUvData()")
              span.sr-only Search Database
              span.glyphicon.glyphicon-search(aria-hidden='true')
            
        div
          span(us-spinner='', spinner-key='spinner-1')
          
        div.today
          p TUE DEC 15 = 2
          
          p There is a low danger from the sun's UV rays for the average person.
          
          canvas#line.chart.chart-line(chart-data='uvData', chart-labels='uvLabels', chart-legend='true')
          
        div.graph
          p HARMFUL
          p NOT HARMFUL
          
        div.calendar
          p TUE DEC 15 2 

div(ng-include='"components/footer/footer.html"')

